@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

div {
  text-align: center;
}
.userBtn {
  background-color: teal;
  text-align: center;
  font-size: 16px;
  border: 1px solid #3c0a4d;
  height: 8%;
  width: 15%;
  margin: 1%;
  border-radius: 4px;
  box-shadow: 9px 10px 52px -12px rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1%;
}
.userBtn:hover {
  background-color: white;
  text-align: center;
  font-size: 16px;
  border: 1px solid #3c0a4d;
  height: 8%;
  width: 15%;
  margin: 1%;
  border-radius: 4px;
  box-shadow: 9px 10px 52px -12px rgba(0, 0, 0, 0.75);
  color: teal;
  padding: 1%;
}
.userIntro {
  font-family: "Reenie Beanie", cursive;
  color: #a2c6fd;
  font-size: 40px;
  width: 100%;
  background-color: white;
  /* margin-top: 0;
  margin-left: 0; */
  margin: 0 auto;
  padding: 3% auto;
}
h4 {
  color: white;
  font-size: 25px;
}
.userFormh2 {
  color: white;
  font-size: 25px;
}
.userFormInput {
  width: 20%;
  height: 10%;
  padding: 1%;
}
.footerLink {
  text-decoration: none;
  color: white;
}
footer {
  margin-bottom: 20%;
  color: white;
}
.user {
  margin: 0 auto;
  /* margin-right: 0; */
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  /* padding: 2%; */
  padding-bottom: 50%;
}

#userH1 {
  font-family: "Reenie Beanie", cursive;
  color: #a2c6fd;
  width: 100%;
  font-size: 60px;
}
/* .giphy-embed {
  width: 10%;
} */
