@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap");

.ulNavBar {
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 1%;
  top: 0;
  left: 0;
  box-shadow: -1px 7px 21px -1px rgba(0, 0, 0, 0.14);
}
.liNavBar {
  color: #81b1f9;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  width: 5%;
  font-size: 25px;
}
.headerLink:hover {
  font-size: 30px;
  transition: ease-in 100ms;
  font-weight: 700;
}

.headerLink {
  text-decoration: none;
  color: #81b1f9;
  margin: 0;
}

.journalForm {
  margin: 0 auto;
  text-align: center;
}

/* body:before {
  content: "";
  opacity: 0.5;
} */
body {
  /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /* background-color: #fbb034; */
  /* background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */
  /* background-image: url("https://vistapointe.net/images/yellow-stripes-6.jpg"); */
}

/* button, */
.journalBtn {
  background-color: teal;
  text-align: center;
  font-size: 16px;
  border: 1px solid #3c0a4d;
  height: 8%;
  width: 20%;
  margin: 3%;
  border-radius: 4px;
  box-shadow: 9px 10px 52px -12px rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1%;
}
.journalBtn:hover {
  font-size: 20px;
  transition: ease-in 100ms;
  background-color: white;
  color: teal;
}
h1 {
  color: white;
  width: 20%;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "Dawning of a New Day", cursive;
  font-size: 50px;
}
* {
  font-family: "Noto Sans JP", sans-serif;
  list-style: none;
}

/* .journalStoryInput {
  width: 28%;
  height: 300px;
  word-wrap: break-word;
  word-break: break-all;
} */
.journal {
  background-color: white;
  color: #4c6568;
  width: 40%;
  height: 40%;
  border-radius: 5px;
  text-align: center;
  padding: 1%;
  margin: 1%;
}
#journalBtn {
  background-color: teal;
  text-align: center;
  font-size: 16px;
  border: 1px solid #3c0a4d;
  height: 8%;
  width: 40%;
  margin: 3%;
  border-radius: 4px;
  box-shadow: 9px 10px 52px -12px rgba(0, 0, 0, 0.75);
  color: white;
}

.journalInputs {
  width: 18%;
}
.journalUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}
